{% extends "home.html" %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Editar proveedor</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel proveedor' %}">BBDD</a></li>
                <li class="breadcrumb-item">Editar proveedor</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <h4 class="card-title">Editar datos del proveedor</h4>
                    <h6 class="card-subtitle">Modifique los datos del formulario</h6>
                    

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col bg-light border rounded p-4 ">

                                    <form method="POST">

                                        {% csrf_token %}

                                        <div class="campoctacte">

                                            <div class="campo">

                                                <div>
                                                    <label for="nombre">
                                                        <h6>Razón social</h6>
                                                    </label>
                                                </div>

                                                <div class="row d-flex justify-content-center my-3">
                                                    <div class="col col-md-8 col-lg-8">
                                                        <div>

                                                            <input name="razon_social" value="{{proveedor.razon_social}}" required type="text"
                                                                class="form-control form-control" aria-label="Amount"
                                                                >

                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label for="apellido">
                                                        <h6>Nombre fantasia</h6>
                                                    </label>
                                                </div>

                                                <div class="row d-flex justify-content-center my-3">
                                                    <div class="col col-md-8 col-lg-8">
                                                        <div>

                                                            <input name="fantasia" value="{{proveedor.fantasia}}" required type="text"
                                                                class="form-control form-control" aria-label="Amount"
                                                                >

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row d-flex justify-content-center mt-4">
                                                <div class="col-lg-6 text-center">

                                                    <button type="submit" class="btn btn-primary">Editar proveedor</button>

                                                </div>
                                            </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}