{% extends "home.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Pagos al proveedor</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel proveedor' %}">Proveedores</a></li>
                <li class="breadcrumb-item">Pagos</li>
            </ol>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Pagos al proveedor {{proveedor.fantasia}}</h4>
                        <div class="btn-group ml-auto">
                            <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#" data-toggle="modal"
                                data-target="#AgregarPago" name="subir_item"><i
                                    class="fa fa-plus-circle mr-2"></i>Agregar pagos</a>
                                    
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="AgregarPago" tabindex="-1" role="dialog" aria-labelledby="AgregarPago"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                    style="background: rgb(195, 39, 181);
                                background: linear-gradient(315deg, rgba(195, 39, 181,1) 0%, rgba(56,56,130,1) 22%, rgba(195, 39, 181,1) 100%);">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Agregar un pago</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">

                                        {% csrf_token %}
                                        <div style="text-align: left;">
                                            <form action="#" method="POST">
                
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Fecha</span>
                                                        <div class="mb-3">
                                                            <input name="fecha" type="date" class="form-control form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <span>Monto</span>
                                                        <div class="mb-3">
                                                            <input name="monto" type="number" step="any" class="form-control form-control">
                                                        </div>
                                                    </div>
                                                </div>
  

                                            <div>
                                                <button class="btn btn-info" type="submit" name="borrar" value="{{i.id}}"
                                                    style="margin-top: 10px;">Cargar</button>

                                            </div>
                                        </div>

                                        
                                        {{ form.as_p }}
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                    <div class="table-responsive">

                        {% if pagos%}

                        <table id="example" class="table" style="width:100%">

                            <thead>
                                <tr>
                                    <th>Fecha </th>
                                    <th>Monto</th>



                                </tr>
                            </thead>

                            

                            <tbody style="font-size: 14px;">

                                {% for i in pagos %}
                                <tr>
                                    <td><div class="btn-group ml-auto">
                                        <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                class="fa fa-pencil mr-2"></i> Editar</a>
                                            <a class="dropdown-item text-danger" href="#" data-toggle="modal"
                                                data-target="#ModalBorrar{{i.id}}"><i
                                                    class="fa fa-trash-o mr-2"></i> Borrar</a>
                                        </div>
                                    </div> Pago realizado el: {{i.fecha|date:"d-m-Y"}}</td>
                                    <td>${{i.monto|floatformat:2|intcomma}}</td>



                                </tr>

                                <div class="modal fade" id="ModalBorrar{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalBorrar{{i.id}}"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header"
                                                    style="background: rgb(195, 39, 181);
                                                background: linear-gradient(315deg, rgba(195, 39, 181,1) 0%, rgba(56,56,130,1) 22%, rgba(195, 39, 181,1) 100%);">
                                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar el perfil</h5>
                                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" enctype="multipart/form-data">

                                                        {% csrf_token %}
                                                        <div style="text-align: left;">
                                                            <h3>Advertencia</h3>

                                                            <h6>Esta acción no se puede deshacer, toda la información asociada al cliente sera eliminada. Recomendamos analizar esta acción</h6>

                        

                                                            <div>
                                                                <button class="btn btn-danger" type="submit" name="borrar" value="{{i.id}}"
                                                                    style="margin-top: 10px;">Continuar</button>

                                                            </div>
                                                        </div>

                                                        
                                                        {{ form.as_p }}
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </tbody>

                            

                        </table>

                        {% else %}

                            <p style="padding: 20px;">Aun no se registraron pagos</p>

                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}