{% extends "home.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Proveedores</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item">Proveedores</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <h4 class="card-title"><span class="lstick m-r-20"></span> Proveedores</h4>
                    <h6 class="card-subtitle">Listado de proveedores activos</h6>

                    <div class="table-responsive">

                        <table id="example" class="table" style="width:100%">

                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Empresa</th>
                                    <th style="text-align: center;">Prestamos</th>
                                    <th>Monto prestado</th>
                                    <th>Pagado</th>
                                    <th>Saldo</th>
                                    <th style="max-width: 5px;"></th>


                                </tr>
                            </thead>

                            <tbody style="font-size: 14px;">

                                {% for i in proveedores %}
                                <tr>
                                    <td>{{i.0.id}}</td>
                                    <td>{{i.0.fantasia}}</td>
                                    <td style="text-align: center;">{{i.1}}</td>
                                    <td>${{i.2|floatformat:2|intcomma}}</td>
                                    <td>${{i.3|floatformat:2|intcomma}}</td>
                                    <td>${{i.4|floatformat:2|intcomma}}</td>
                                    <td><div class="btn-group ml-auto">
                                        <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{% url 'Pago proveedor' i.0.id %}"><i
                                                class="fa fa-money mr-2"></i> Agregar pago</a>
                                            <a class="dropdown-item" href="{% url 'Editar proveedor' i.0.id %}"><i
                                                class="fa fa-pencil mr-2"></i> Editar</a>
                                            <a class="dropdown-item text-danger" href="#" data-toggle="modal"
                                                data-target="#ModalBorrar{{i.id}}"><i
                                                    class="fa fa-trash-o mr-2"></i> Borrar</a>
                                        </div>
                                    </div></td>



                                </tr>

                                <div class="modal fade" id="ModalBorrar{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalBorrar{{i.id}}"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header"
                                                    style="background: rgb(195, 39, 181);
                                                background: linear-gradient(315deg, rgba(195, 39, 181,1) 0%, rgba(56,56,130,1) 22%, rgba(195, 39, 181,1) 100%);">
                                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar el perfil</h5>
                                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" enctype="multipart/form-data">

                                                        {% csrf_token %}
                                                        <div style="text-align: left;">
                                                            <h3>Advertencia</h3>

                                                            <h6>Esta acción no se puede deshacer, toda la información asociada al cliente sera eliminada. Recomendamos analizar esta acción</h6>

                        

                                                            <div>
                                                                <button class="btn btn-danger" type="submit" name="borrar" value="{{i.id}}"
                                                                    style="margin-top: 10px;">Continuar</button>

                                                            </div>
                                                        </div>

                                                        
                                                        {{ form.as_p }}
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('#example').DataTable({

            "info": false,
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'BBDD clientes'
            },
            ]   
        });
    });
</script>


{% endblock %}