{% extends "home.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Proveedores</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item">Proveedores</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <h4 class="card-title"><span class="lstick m-r-20"></span> Proveedores</h4>
                    <h6 class="card-subtitle">Listado de proveedores activos</h6>

                    <div class="table-responsive">

                        <table id="example" class="table" style="width:100%">

                            <thead>
      
                                    <th>Empresa</th>
                                    <th style="text-align: center;">Prestamos</th>
                                    <th>Monto prestado</th>
                                    <th>Pagado</th>
                                    <th>Saldo</th>



                                </tr>
                            </thead>

                            <tbody style="font-size: 14px; font-weight: 350;">

                                {% for i in proveedores %}
                                <tr>

                                    <td><div class="btn-group ml-auto mr-2">
                                        <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{% url 'Pago proveedor' i.0.id %}"><i
                                                class="fa fa-angle-right mr-2"></i>Pagos</a>
                                            <a class="dropdown-item" href="{% url 'Editar proveedor' i.0.id %}"><i
                                                class="fa fa-angle-right mr-2"></i>Editar</a>
                                            <a class="dropdown-item text-danger" href="#" data-toggle="modal"
                                                data-target="#ModalBorrar{{i.0.id}}"><i
                                                    class="fa fa-angle-right mr-2"></i>Borrar</a>
                                        </div>
                                    </div><a href="{% url 'Pago proveedor' i.0.id %}">{{i.0.fantasia}}</a></td>
                                    <td style="text-align: center;">{{i.1}}</td>
                                    <td>${{i.2|floatformat:2|intcomma}}</td>
                                    <td>${{i.3|floatformat:2|intcomma}}</td>
                                    <td>${{i.4|floatformat:2|intcomma}}</td>
  
                                </tr>

                                <div class="modal fade" id="ModalBorrar{{i.0.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalBorrar{{i.id}}"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header"
                                                    style="background-color: #2a3e52;">
                                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar el perfil</h5>
                                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" enctype="multipart/form-data">

                                                        {% csrf_token %}
                                                        <div style="text-align: left;">
                                                            <h3>Advertencia</h3>

                                                            <h6>Esta acción no se puede deshacer, toda la información asociada al cliente sera eliminada. Recomendamos analizar esta acción</h6>

                        

                                                            <div>
                                                                <button class="btn btn-danger" type="submit" name="id_proveedor" value="{{i.0.id}}"
                                                                    style="margin-top: 10px;">Continuar</button>

                                                            </div>
                                                        </div>

                                                        
                                                        {{ form.as_p }}
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<a id="add" href="{% url 'Nuevo proveedor' %}"
data-toggle="tooltip" data-placement="left" title="Agregar un nuevo proveedor" 
class="btn btn-primary btn-circle fa fa-plus"></a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
    #add{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }


</style>

<script>
    $(document).ready(function () {
        $('#example').DataTable({

            "info": false,
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'Proveeedores',
                className: "btn btn-primary",

                init: function(api, node, config) {
                    $(node).removeClass('dt-button buttons-excel buttons-html5')
                    }
            },
            ]   
        });
    });
</script>

{% if mensaje %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        {% if mensaje.0 == 1 %}
        icon: 'success',
        {% elif mensaje.0 == 0 %}
        icon: 'warning',
        {% endif %}
        title: '{{mensaje.1}}'
    })

</script>
{% endif %}


{% endblock %}