{% extends "home.html" %}
{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Proveedores {{proveedor.fantasia}}</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'Panel proveedor' %}">Proveedores</a></li>
            <li class="breadcrumb-item">Editar</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <h4 class="card-title"><span class="lstick m-r-20"></span><b>Editar proveedor</b></h4>
                    <h6 class="card-subtitle">Modifique los datos del registro</h6>


                    <div class="justify-content-center text-left" style="font-weight: 450;">
                        <div class="row p-3">

                            <div class="form-group col-4">
                                <label>Razón social</label>
                                <input id="razon_social" value="{{proveedor.razon_social}}" type="text" class="form-control form-material form-control-line"> </div>

                            <div class="form-group col-4">
                                <label>Nombre comercial</label>
                                <input id="fantasia" value="{{proveedor.fantasia}}" type="text" class="form-control form-material form-control-line"> </div>

                            <div class="form-group col-4">
                                <label>CUIT</label>
                                <input id="cuit" value="{{proveedor.cuit}}" type="text" class="form-control form-material form-control-line"> </div>

                        </div>

                        <div class="row p-3">

                            <div class="form-group col-4">
                                <label>Dirección</label>
                                <input id="direccion" value="{{proveedor.direccion}}" type="text" class="form-control form-material form-control-line"> </div>

                            <div class="form-group col-4">
                                <label>Ciudad</label>
                                <input id="ciudad" value="{{proveedor.ciudad}}" type="text" class="form-control form-material form-control-line"> </div>

                            <div class="form-group col-4">
                                <label>Provincia</label>
                                <input id="provincia" value="{{proveedor.provincia}}"  type="text" class="form-control form-material form-control-line"> </div>

                        </div>

                        <div class="row p-3">

                            <div class="form-group col-4">
                                <label>Numero de contacto</label>
                                <input id="telefono" value="{{proveedor.telefono}}" type="text" class="form-control form-material form-control-line"> </div>  

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="token" type="text" value="{{ csrf_token }}" style="display: none;"></input>
<input id="host" type="text" value="{% host %}" style="display: none;"></input>

<a id="add" href="#" onclick="service_editar_proveedor({{proveedor.id}})"
    data-toggle="tooltip" data-placement="left" title="Editar datos"
    class="btn btn-success btn-circle fa fa-cloud-upload"></a>

<style>
    #add{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }

</style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/f_alert.js' %}"></script>
<script src="{% static 'js/f_proveedores.js' %}"></script>

{% endblock %}