{% extends "home.html" %}
{% load apptags_extras %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Caja de la empresa</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item">Caja</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick m-r-20"></span><b>Registros</b></h4>                    
                    </div>

                    <h6 class="card-subtitle">Ingresos y salidas</h6>

                    <div class="table-responsive">

                        <table id="balance" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Cuenta</th>
                                    <th>Concepto</th>
                                    <th>Fecha</th>
                                    <th>Tipo</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 14px; font-weight: 450;">
                                {% for pago in pagos %}
                                <tr>
                                    <td>Cuotas cobradas</td>
                                    <td>Ingreso por cuotas</td>
                                    <td>{{pago.fecha|date:"Y-m-d"}}</td>
                                    <td class="text-success font-bold">INGRESO</td>
                                    <td>${{pago.total_monto|floatformat:0|intcomma}}</td>
                                </tr>
                                {% endfor %}

                                {% for pago in pagos_proveedores %}
                                <tr>
                                    <td>Pagos a proveedores</td>
                                    <td>Monto por prestamos</td>
                                    <td>{{pago.fecha|date:"Y-m-d"}}</td>
                                    <td class="text-danger font-bold">SALIDA</td>
                                    <td>-${{pago.total_monto|floatformat:0|intcomma}}</td>
                                </tr>
                                {% endfor %}

                                {% for movimiento in movimientos %}
                                <tr id = "mov_{{movimiento.id}}">
                                    <td><b class="text-info table_row" 
                                        onClick="service.open_modal({{movimiento.id}})" 
                                        data-toggle="modal" data-target="#ModalEditarRegistros">{{movimiento.cuenta}}</b></td>
                                    <td>{{movimiento.concepto}}</td>
                                    <td>{{movimiento.fecha|date:"Y-m-d"}}</td>
                                    <td class="{% if movimiento.ingreso %} text-success {% else %} text-danger {% endif %} font-bold">
                                        {% if movimiento.ingreso %} INGRESO {% else %} SALIDA {% endif %}</td>
                                    <td>{% if movimiento.ingreso %} ${{movimiento.monto|floatformat:0|intcomma}} 
                                        {% else %} -${{movimiento.monto|floatformat:0|intcomma}} {% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalRegistros" tabindex="-1" role="dialog" aria-labelledby="ModalRegistros"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"
                style="background-color: #2a3e52;">
                <h5 class="modal-title text-light" id="exampleModalLongTitle">Agregar un registro</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
   
                    <div style="text-align: left;">
                        <h3>Ingese los datos</h3>

                        <p class="my-2">Cuenta</p>
                        <div class="mb-3">
                            <input id="nr_cuenta" 
                            required type="text"  
                            placeholder="Ej: Tarjetas" 
                            class="form-control form-control-line">

                        </div>

                        <p class="my-2">Concepto</p>
                        <div class="mb-3">
                            <input id="nr_concepto"
                            required type="text"   placeholder="Ej: Banco Frances" 
                            class="form-control form-control-line">

                        </div>

                        <p class="my-2">Fecha</p>
                        <div class="mb-3">
                            <input id="nr_fecha" 
                            required type="date" 
                            class="form-control form-control-line">

                        </div>

                        <p class="my-2">Monto</p>
                        <div class="mb-3">
                            <input id="nr_monto" 
                            required type="number" step="any" n
                            ame="valor" placeholder="Valor del registro" 
                            class="form-control form-control-line">

                        </div>

                        <input type="checkbox" id="nr_ingreso" 
                            class="filled-in chk-col-blue" checked  />
                        <label for="nr_ingreso">Es un ingreso</label>


                        <div class="text-right">
                            <button class="btn btn-success btn-circle fa fa-paper-plane" 
                            data-toggle="tooltip" data-placement="left" title="Agregar registro"
                            onclick="service.add_record()"
                            style="margin-top: 10px;"></button>

                        </div>
                    </div>

  
            </div>

        </div>
    </div>

</div>

<div class="modal fade" id="ModalEditarRegistros" tabindex="-1" role="dialog" aria-labelledby="ModalEditarRegistros"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"
                style="background-color: #2a3e52;">
                <h5 class="modal-title text-light" id="exampleModalLongTitle">Editar registro</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
   
                    <div style="text-align: left;">
                        <h3>Modifique los datos</h3>

                        <p class="my-2">Cuenta</p>
                        <div class="mb-3">
                            <input id="up_cuenta" 
                            required type="text"  
                            placeholder="Ej: Tarjetas" 
                            class="form-control form-control-line">

                        </div>

                        <p class="my-2">Concepto</p>
                        <div class="mb-3">
                            <input id="up_concepto"
                            required type="text"   placeholder="Ej: Banco Frances" 
                            class="form-control form-control-line">

                        </div>

                        <p class="my-2">Fecha</p>
                        <div class="mb-3">
                            <input id="up_fecha" 
                            required type="date" 
                            class="form-control form-control-line">

                        </div>

                        <p class="my-2">Monto</p>
                        <div class="mb-3">
                            <input id="up_monto" 
                            required type="number" step="any" n
                            ame="valor" placeholder="Valor del registro" 
                            class="form-control form-control-line">

                        </div>

                        <input type="checkbox" id="up_ingreso" 
                            class="filled-in chk-col-blue" checked  />
                        <label for="up_ingreso">Es un ingreso</label>


                        <div class="text-right">
                            <button id="delete_boton" class="btn btn-danger btn-circle fa fa-trash" 
                            data-toggle="tooltip" data-placement="left" title="Borrar registro"
                            onclick="service.delete_data()"
                            style="margin-top: 10px;"></button>
                            <button id="editar_boton" class="btn btn-success btn-circle fa fa-paper-plane" 
                            data-toggle="tooltip" data-placement="left" title="Agregar registro"
                            onclick="service.agregar_registro()"
                            style="margin-top: 10px;"></button>

                        </div>
                    </div>

  
            </div>

        </div>
    </div>

</div>

<a id="add" href="#" data-toggle="modal" data-target="#ModalRegistros"
    class="btn btn-primary btn-circle fa fa-plus"></a>

<input id="token" type="text" value="{{ csrf_token }}" style="display: none;"></input>
<input id="host" type="text" value="{% host %}" style="display: none;"></input>

<style>
    #add{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }

    .table_row:hover {
        cursor: pointer;
    }


</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/f_alert.js' %}"></script>
<script src="{% static 'js/f_caja.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#balance').DataTable({
                "language": {
                    "search": "Buscar"
                },

            "info": false,
            "order": [[ 2, "desc" ]],
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'BBDD clientes',
                className: "btn btn-primary",
                exportOptions: {
                        columns: ':not(.notexport)'
                    },

                init: function(api, node, config) {
                    $(node).removeClass('dt-button buttons-excel buttons-html5')
                    }
            },
            ]   
        });
    });
</script>


{% endblock %}