{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'img/logosinergia.ico' %}" />
    <title>Sinergia</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'adminpro/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- page css -->
    <link href="{% static 'adminpro/main/css/pages/login-register-lock.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'adminpro/main/css/style.css' %}" rel="stylesheet">
    
    <!-- You can change the theme colors from here -->
    <link href="{% static 'adminpro/main/css/colors/default-dark.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body style="background-image:url({% static 'adminpro/assets/images/background/tree2.jpg' %});  background-size: cover; height: 100vh;">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Sinergia</p>
        </div>
    </div>

    <section >
        <div class="container-fluid" style="height: 100vh;">
            <div class="row">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <center class="m-t-30"> <img src="{{data.imagen.url}}" class="img-circle" width="150" />
                                <h4 class="card-title m-t-10">{{data.nombre}}</h4>

                            </center>
                        </div>
                        <div>
                            <hr> </div>
                        <div class="card-body"> <small class="text-muted">Email address </small>
                            <h6>{{data.email}}</h6> <small class="text-muted p-t-30 db">Phone</small>
                            <h6>+{{data.telefono}}</h6> <small class="text-muted p-t-30 db">Address</small>
                            <h6>{{data.direccion}}</h6>
        
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#actividad" role="tab">{% if tipo == "PERSONA" %}Credito{% else %}Personal{% endif %}</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#perfil" role="tab">Historial de pagos</a> </li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="actividad" role="tabpanel" style="height: 475px;">
                                <div class="card-body">
                                    <div class="profiletimeline" style="height: 400px; overflow-y: scroll;">
                                    {% if tipo == "PERSONA" %}
                                        {% if data_credito %}
                                        {% for d in data_credito %}
 
                                        <div class="sl-item">
                                            <div class="sl-right">
                                                <div><a href="#" data-toggle="modal" data-target="#ModalOtrosDatos{{d.id}}" class="link"><i class="fa fa-lightbulb-o text-info"></i> Prestamo de ${{d.0.monto|floatformat:2|intcomma}}</a> <span class="sl-date"> Otorgado el {{d.0.fecha|date:"d/m/Y"}}</span>
                                                    <p style="font-size: 12px;">Avance: {{d.2|floatformat:2}}% - Monto adeudado: ${{d.6|floatformat:2|intcomma}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>

                                        {% endfor %}

        
                                        {% else %}
        
                                        <div class="sl-item">
                                            <div class="sl-left"> <img src="{% static 'img/logosinergia.png' %}" alt="user" class="img-circle" /> </div>
                                            <div class="sl-right">
                                                <div><a href="#" class="link">No tiene creditos otorgados</a> 
                                                    <p><span class="sl-date"> -</span></p>
                                                    <p>Sin información</p>
        
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
        
                                        {% endif %}
                                        
                                    {% else %}

                                        {% for c in data_credito %}
    
                                        <div class="sl-item">
                                            <div class="sl-right">
                                                <div>
                                                    <p style="font-size: 14px;">{{c.0.cliente.nombre}}, {{c.0.cliente.apellido}} - Avance: {{c.2|floatformat:2}}% - Proxima cuota: {{c.4|date:"d/m/Y"}} - Monto: ${{c.5|floatformat:2|intcomma}} - {% if c.6 > 0 %}Deuda:{% else %}A favor:{% endif %} ${{c.6|floatformat:2|intcomma}} <i class="fa fa-check-circle text-success"></i></p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>

                                        {% endfor %}
                                    
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!--second tab-->
                            <div class="tab-pane" id="perfil" role="tabpanel" style="height: 475px; ">
                                <div class="card-body">
                                    <div class="profiletimeline" style="height: 400px; overflow-y: scroll;">
                                    {% for d in data_pagos %}
 
                                        <div class="sl-item">
                                            <div class="sl-right">
                                                <div>
                                                    <p style="font-size: 14px;">Fecha: {{d.fecha|date:"d/m/Y"}} - Monto: ${{d.monto|floatformat:2|intcomma}} - Credito:{{d.prestamo.id}} <i class="fa fa-check-circle text-success"></i></p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>

                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            {% for d in data_credito %}
            <div class="modal fade" id="ModalOtrosDatos{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalOtrosDatos"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header"
                            style="background: rgb(225, 43, 211);
                                        background: linear-gradient(315deg, rgba(225, 43, 211,1) 0%, rgba(139, 44, 140,1) 22%, rgba(243, 95, 232,1) 100%);">
                            <h5 class="modal-title text-light" id="exampleModalLongTitle">{{d.0.cliente.apellido}}, {{d.0.cliente.nombre}}</h5>
                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6>Monto total del credito</h6>
                            <p>${{d.0.monto|floatformat:2|intcomma}}</p>
                            <h6>Total adeudado a la fecha</h6>
                            <p>${{d.6|floatformat:2|intcomma}} - Cuotas: {{d.7|floatformat:0}}</p>
                            <h6>Proximo vencimiento</h6>
                            <p>{{d.4|date:"d/m/Y"}} - ${{d.5|floatformat:2|intcomma}}</p>
                            <h6>Ultimo pago:</h6>
                            <p>{% if d.3 %}{{d.3|date:"d/m/Y"}}{% else %}No se registraron pagos{% endif %}</p>

                    </div>

                    <div class="modal-footer">
                        {% if i.estado == "Potencial" or i.estado == "Cliente" %}
                        <button class="btn btn-danger" type="submit">Rechazar</button>
                        {% endif %}
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        
    </section>

    <script src="{% static 'adminpro/assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
    
</body>

</html>