{% extends "home.html" %}

{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Clientes</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item">Clientes</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <h4 class="card-title"><span class="lstick m-r-20"></span> Base de clientes y prospectos</h4>
                    <h6 class="card-subtitle">Información sobre los clientes activos y potenciales</h6>

                    <div class="table-responsive">

                        <table id="example" class="table" style="width:100%">

                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Estado</th>
                                    <th>Score</th>
                                    <th>Email</th>
                                    <th>Telefono</th>
                                    <th>Empresa</th>
                                    <th style="max-width: 5px;"></th>

                                </tr>
                            </thead>

                            <tbody style="font-size: 13px;">

                                {% for i in data %}
                                <tr>
                                    <td>{% if i.imagen %}<img src="{{i.imagen.url}}" style="width: 30px; margin-right: 5px;" alt="usuario">{% else %}<img src="{% static 'img/userlog2.png' %}" style="width: 30px; margin-right: 5px" alt="usuario">{% endif %} <a href="{% url 'Perfil del cliente' i.id %}">{{i.nombre}}, {{i.apellido}}</a></td>
                                    <td {% if i.estado == 'Activo' %} class = "text-info" 
                                    {% elif i.estado == 'Potencial' %} class = "text-secondary"
                                    {% elif i.estado == 'Moroso' %} class = "text-danger" 
                                    {% else %} class = "text-dark" {% endif %}><b>{{i.estado}}</b></td>
                                    <td {% if i.score < 300 %} class = "text-danger" {% else %} class = "text-secondary" {% endif %}><b>{{i.score}}</b></td>
                                    <td>{% if i.email %}{{i.email}}{% else %}Sin registrar{% endif %}</td>
                                    {% if i.telefono %}
                                    <td>{{i.telefono|floatformat:0}}</td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif %}
                                    {% if i.empresa %}
                                    <td>{{i.empresa}}</td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif %}
                                    <td style="text-align: right;">

                                    <div class="btn-group ml-auto">
                                        <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{% url 'Perfil del cliente' i.id %}"><i
                                                    class="fa fa-user mr-2"></i>Perfil</a>
                                            <a class="dropdown-item text-danger" href="#" data-toggle="modal"
                                                data-target="#ModalBorrar{{i.id}}"><i
                                                    class="fa fa-trash-o mr-2"></i>Borrar</a>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="ModalBorrar{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalBorrar{{i.id}}"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header"
                                                    style="background: rgb(195, 39, 181);
                                                background: linear-gradient(315deg, rgba(195, 39, 181,1) 0%, rgba(56,56,130,1) 22%, rgba(195, 39, 181,1) 100%);">
                                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar el perfil</h5>
                                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" enctype="multipart/form-data">

                                                        {% csrf_token %}
                                                        <div style="text-align: left;">
                                                            <h3>Advertencia</h3>

                                                            <h6>Esta acción no se puede deshacer, toda la información asociada al cliente sera eliminada. Recomendamos analizar esta acción</h6>

                        

                                                            <div>
                                                                <button class="btn btn-danger" type="submit" name="borrar" value="{{i.id}}"
                                                                    style="margin-top: 10px;">Continuar</button>

                                                            </div>
                                                        </div>

                                                        
                                                        {{ form.as_p }}
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                                </div>
                                            </div>
                                        </div>

                                        </div>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "info": false,

            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'BBDD clientes'
            },
            ]   
        });
    });
</script>


{% endblock %}