{% extends "home.html" %}

{% load static %}
{% load humanize %}
{% block content %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Clientes</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item">Clientes</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Base de datos</h4>
                        
                        <div class="btn-group ml-auto">
                            <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'Nuevo cliente' %}"><i
                                    class="fa fa-plus-circle mr-2"></i>Agregar cliente</a>
                                <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit" name="subir_item"><i
                                    class="fa fa-refresh mr-2"></i>Recalculo</button></form>
                                    
                            </div>
                        </div>
                    </div>
                    <h6 class="card-subtitle">Información sobre los clientes activos y potenciales</h6>

                    <div class="table-responsive">

                        <table id="example" class="table" style="width:100%">

                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Estado</th>
                                    <th>Score</th>
                                    <th>Email</th>
                                    <th>Telefono</th>
                                    <th>Empresa</th>
        

                                </tr>
                            </thead>

                            <tbody style="font-size: 14px; font-weight: 350;">

                                {% for i in data %}
                                <tr>
                                    <td>
                                        <div class="btn-group ml-auto mr-2">
                                            <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{% url 'Perfil del cliente' i.id %}"><i
                                                        class="fa fa-angle-right mr-2"></i>Perfil</a>
                                                <a class="dropdown-item text-danger" href="#" data-toggle="modal"
                                                    data-target="#ModalBorrar{{i.id}}"><i
                                                        class="fa fa-angle-right mr-2"></i>Borrar</a>
                                            </div>
                                        </div>
                                        
                                        {% if i.imagen %}<img src="{{i.imagen.url}}" style="width: 30px; margin-right: 10px;" alt="usuario">{% else %}<img src="{% static 'img/userlog2.png' %}" style="width: 30px; margin-right: 10px" alt="usuario">{% endif %} <a href="{% url 'Perfil del cliente' i.id %}">{{i.nombre}}, {{i.apellido}}</a></td>
                                    <td {% if i.estado == 'Activo' %} class = "text-info" 
                                    {% elif i.estado == 'Potencial' %} class = "text-secondary"
                                    {% elif i.estado == 'Moroso' %} class = "text-danger" 
                                    {% else %} class = "text-dark" {% endif %}><b>{{i.estado_cliente}}</b></td>
                                    <td {% if i.score < 300 %} class = "text-danger" {% else %} class = "text-secondary" {% endif %}><b>{{i.score}}</b></td>
                                    <td>{% if i.email %}{{i.email}}{% else %}Sin registrar{% endif %}</td>
                                    {% if i.telefono %}
                                    <td>{{i.telefono|floatformat:0}}</td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif %}
                                    {% if i.empresa %}
                                    <td>{{i.empresa}}</td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif %}
            
                                </tr>


                                {% endfor %}
                            </tbody>

                        </table>

                

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<a id="add" href="{% url 'Nuevo cliente' %}"
    data-toggle="tooltip" data-placement="left" title="Agregar un nuevo cliente"
    class="btn btn-primary btn-circle fa fa-plus"></a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
    #add{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }


</style>


<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "info": false,

            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'BBDD clientes',
                className: "btn btn-primary",

                init: function(api, node, config) {
                    $(node).removeClass('dt-button buttons-excel buttons-html5')
                    }
            },
            ]   
        });
    });
</script>


{% endblock %}