{% extends "home.html" %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Nuevo cliente</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item">Agregar cliente</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <h4 class="card-title"><span class="lstick m-r-20"></span>Incorporar un cliente a la BBDD</h4>
                    <h6 class="card-subtitle">Complete el formulario</h6>
                    

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col bg-light border rounded p-4 ">

                                    {% if mensaje %}
                                    <h6 class="text-danger">{{mensaje}}</h6>
                                    {% endif %}

                                    <form method="POST">

                                        {% csrf_token %}

                                        <div class="campoctacte">

                                            <div class="campo">

                                                <div class="form-group">
                                                    <label class="col-sm-12">Nombre</label>
                                                    <div class="col-sm-12">
                                                        <input name="nombre" type="text"
                                                                class="form-control form-control" aria-label="Amount"
                                                                >
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12">Apellido</label>
                                                    <div class="col-sm-12">
                                                        <input name="apellido" type="text"
                                                                class="form-control form-control" aria-label="Amount"
                                                                >
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12">CUIL</label>
                                                    <div class="col-sm-12">
                                                        <input name="cuil" type="text" placeholder="Sin guiones, ejemplo 20377258305"
                                                                class="form-control form-control" aria-label="Amount"
                                                                >
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12">Telefono de contacto</label>
                                                    <div class="col-sm-12">
                                                        <input name="telefono" type="text" placeholder="Sin +54, ejemplo 3813540261"
                                                                class="form-control form-control" aria-label="Amount"
                                                                >
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12">Dirección</label>
                                                    <div class="col-sm-12">
                                                        <input name="direccion" type="text"
                                                                class="form-control form-control" aria-label="Amount"
                                                                >
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12">Email</label>
                                                    <div class="col-sm-12">
                                                        <input name="email" type="email"
                                                                class="form-control form-control" aria-label="Amount"
                                                                >
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12">Score</label>
                                                    <div class="col-sm-12">
                                                        <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            
                                                                <span class="input-group-text">Puntos</span>

                                                                </div>
                                                                <input name="score" required type="number" 
                                                                        class="form-control form-control" aria-label="Amount">


                                                            </div>

                                                            
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12">Empresa</label>
                                                    <div class="col-sm-12">
                                                        <select name="empresa" class="form-control form-control-line">
                                                            {% for i in empresas %}
                                                            <option {% if data.empresa == i%} selected {% endif %}>{{i.nombre}}</option>
                                                            {% endfor %}
                
                                                        </select>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row d-flex justify-content-center mt-4">
                                                <div class="col-lg-6 text-center">

                                                    <button type="submit" class="btn btn-primary">Cargar cliente</button>

                                                </div>
                                            </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}