{% extends "home.html" %}
{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Clientes</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'BBDD clientes' %}">Panel</a></li>
            <li class="breadcrumb-item">Agregar cliente</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <h4 class="card-title"><span class="lstick m-r-20"></span><b>Nuevo cliente</b></h4>
                    <h6 class="card-subtitle">Complete el formulario</h6>

                    <div class="justify-content-center text-left" style="font-weight: 450;">
                        <div class="row p-3">

                            <div class="form-group col-4">
                                <label>Nombre</label>
                                <input id="nombre" type="text" onchange="autocompletar_user()" class="form-control form-material form-control-line"> </div>

                            <div class="form-group col-4">
                                <label>Apellido</label>
                                <input id="apellido" type="text" onchange="autocompletar_user()" class="form-control form-material form-control-line"> </div>

                            <div class="form-group col-4">
                                <label>Score</label>
                                <input id="score" type="number" class="form-control form-material form-control-line"> </div>

                        </div>

                        <div class="row p-3">

                            <div class="form-group col-4">
                                <label>Email</label>
                                <input id="email" type="text" class="form-control form-material form-control-line"> </div>

                            <div class="form-group col-4">
                                <label>Cuil</label>
                                <input id="cuil" type="text" onchange="autocompletar_user()" class="form-control form-material form-control-line"> </div>

                            <div class="form-group col-4">
                                <label>Telefono</label>
                                <input id="telefono" type="text" class="form-control form-material form-control-line"> </div>

                        </div>

                        <div class="row p-3">

                            <div class="form-group col-8">
                                <label>Dirección completa</label>
                                <input id="direccion" type="text" class="form-control form-material form-control-line"> </div>

                            <div class="form-group col-4">
                                <label>Empresa</label>
                                <select id="empresa" class="form-control form-control-line">
                                    {% for i in empresas %}
                                    <option {% if data.empresa == i%} selected {% endif %}>{{i.nombre}}</option>
                                    {% endfor %}

                                </select>
                            </div>
    

                        </div>

                        <div class="row p-3">

                            <div class="form-group col-6">
                                <label>Nombre de usuario</label>
                                <input id="username" type="text" class="form-control form-material form-control-line" placeholder="El usuario se podra logear con estos datos"> </div>

                            <div class="form-group col-6">
                                <label>Password</label>
                                <input id="password" type="text" class="form-control form-material form-control-line" placeholder="El usuario se podra logear con estos datos"> </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="token" type="text" value="{{ csrf_token }}" style="display: none;"></input>
<input id="host" type="text" value="{% host %}" style="display: none;"></input>

<a id="add" href="#" onclick="service_crear_cliente()"
    data-toggle="tooltip" data-placement="left" title="Agregar un nuevo cliente"
    class="btn btn-success btn-circle fa fa-cloud-upload"></a>

<style>
    #add{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }

</style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/f_alert.js' %}"></script>
<script src="{% static 'js/f_client.js' %}"></script>

{% endblock %}