{% extends "home.html" %}

{% load static %}
{% load humanize %}
{% block content %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Perfil del cliente</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'BBDD clientes' %}">Clientes</a></li>
            <li class="breadcrumb-item active">Perfil</li>
        </ol>
    </div>

</div>

    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="m-t-30"> <img src="{% if data.imagen %}{{data.imagen.url}}{% else %}{% static 'img/anonimo2.png' %}{% endif %}" class="img-circle" width="150" />
                        <h4 class="card-title m-t-10">{{data.nombre}},  {{data.apellido}}</h4>
                        <h5 class="card-title m-t-10">Score: {{data.score}}</h5>
                        <h5 class="card-title m-t-10">{{data.estado}}</h5>
                    </center>
                </div>
                <div>
                    <hr> </div>
                <div class="card-body"> <small class="text-muted">Email</small>
                    <h6>{{data.email}}</h6> <small class="text-muted p-t-30 db">Telefono</small>
                    <h6>+{{data.telefono}}</h6> <small class="text-muted p-t-30 db">Dirección</small>
                    <h6>{{data.direccion}}</h6>

                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#actividad" role="tab">Actividad</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#perfil" role="tab">Legajo</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#programa" role="tab">Programa S</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#documentos" role="tab">Documentos</a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="actividad" role="tabpanel">
                        <div class="card-body">
                            <div>
                                {% if data_credite_complete %}
                                {% for d in data_credite_complete %}
                                <div>
                                    <div> <i class="fa fa-university text-info mr-2"></i> <a href="{% url 'Administrar credito' d.0.id %}">Prestamo de ${{d.0.monto|floatformat:2|intcomma}}</a>
                                        <p><span class="sl-date"> Otorgado el: {{d.0.fecha|date:"d/m/Y"}}</span></p>
                                        <hr>
                                    </div>

                                </div>

                                {% endfor %}

                                {% else %}

                                <div>
                                    <div><i class="fa fa-bell-o mr-3"></i> No tiene creditos otorgados </div>
        
                                        <hr>
                                </div>

                                {% endif %}

                                <div>
                                    <div><a href="#" class="link text-warning" data-toggle="modal" data-target="#AgregarRecordatorio"><i class="fa fa-bell-o mr-4"></i>Recordatorios</a></div>
                                    {% for cita in citas|slice:"5" %}
                                    <div class="mt-2"><i class="fa fa-bell-o mr-4"></i>{{cita.inicio|date:"d/m/Y"}} - {{cita.asunto}}</div>
                                    {% endfor %}
                                    <hr>
                                    
                                </div>

                                <div class="modal fade" id="AgregarRecordatorio" tabindex="-1" role="dialog" aria-labelledby="AgregarRecordatorio"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header"
                                            style="background-color: #2a3e52;">
                                                <h5 class="modal-title text-light" id="exampleModalLongTitle">Agendar un recordatorio</h5>
                                                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}

                                                    <p class="my-2">Asunto</p>
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control form-control" name="asunto"
                                                            required></div>
                                                    
                                                    <p class="my-2">Descripción</p>
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control form-control" name="descrip"
                                                            required></div>

                                                    <p class="my-2">Inicio</p>
                                                    <div class="mb-3">
                                                        <input type="datetime-local" class="form-control form-control" name="inicio"
                                                            required></div>

                                                    <p class="my-2">Final</p>
                                                    <div class="mb-3">
                                                        <input type="datetime-local" class="form-control form-control" name="final"
                                                            required></div>

                                                    <div>
                                                        <button class="btn btn-primary" type="submit" 
                                                            style="margin-top: 10px;">Agendar</button>

                                                    </div>
                                                    {{ form.as_p }}
                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                            </div>
                                        </div>
                                    </div>

                                    </div>


                            </div>
                        </div>
                    </div>
                    <!--second tab-->
                    <div class="tab-pane" id="perfil" role="tabpanel">
                        <div class="card-body">
                            <h5><a href="#" data-toggle="modal" data-target="#EditarLegajo">Información personal</a></h5>

                            <div class="mt-3">
                                <p class="ml-2"> Nombre y Apellido: <i>{{data.nombre}}, {{data.apellido}}</i></p>
                                <p class="ml-2"> Telefono: <i>{% if data.telefono %}{{data.telefono}}{% else %} Sin registrar{% endif %}</i></p>
                                <p class="ml-2"> Email: <i>{% if data.email %}{{data.email}}{% else %} Sin registrar{% endif %}</i></p>
                                <p class="ml-2"> Dirección: <i>{% if data.email %}{{data.direccion}}{% else %} Sin registrar{% endif %}</i></p>
                                <p class="ml-2"> Empresa: <i>{% if data.empresa %}{{data.empresa}}{% else %} Sin registrar{% endif %}</i></p>
                                <p class="ml-2"> Cuil: <i>{% if data.email %}{{data.cuil}}{% else %} Sin registrar{% endif %}</i></p>

                            </div>
                            
                            <hr>
                            <h5><a href="#" data-toggle="modal" data-target="#EditarComentarios">Anotaciones</i></a> </h5>
                            <p class="m-t-30" style="white-space: pre-wrap;">{% if data.otros_datos %}{{data.otros_datos}}{% else %} Sin registrar{% endif %}</p>


                        </div>
                    </div>

                    <div class="tab-pane" id="programa" role="tabpanel">
                        <div class="card-body">
                            <h4>Programa social</h4>
                            <small>Para completar el formulario presione <a href="">aqui</a></small>

                            <div style="margin: 15px;">
                                <h6>¿Cuantas personas habitan en su hogar?</h6>
                                <p>{% if data.habitantes_hogar %}En el hogar hay {{data.habitantes_hogar}} personas {% else %}Sin responder{% endif %}</p>
                                <h6>¿Algún mientro de su hogar tiene alguna discapacidad?</h6>
                                <p>{% if data.partiente_discapacidad %}{{data.partiente_discapacidad|lower|capfirst}}{% else %}Sin responder{% endif %}</p>
                                <h6>¿Cuantas personas trabajan en su hogar?</h6>
                                <p>{% if data.trabajadores_hogar %}Trabajadores activos {{data.trabajadores_hogar}}{% else %}Sin responder{% endif %}</p>
                                <h6>¿Cual es el ingreso aproximado de su grupo familiar?</h6>
                                <p>{% if data.ingreso_hogar %}Aproximadamente ${{data.ingreso_hogar|floatformat:0|intcomma}}{% else %}Sin responder{% endif %}</p>
                                <h6>¿Tiene alguna deuda con alguna entidad bancaria o comercial?</h6>
                                <p>{% if data.deuda %}{{data.deuda|lower|capfirst}}{% else %}Sin responder{% endif %}</p>
                                <h6>¿Cuantos ambientes tiene su hogar?</h6>
                                <p>{% if data.cuartos %}Total de ambientes {{data.cuartos}}{% else %}Sin responder{% endif %}</p>
                                <h6>¿Cuantos dormitorios tiene su hogar?</h6>
                                <p>{% if data.bathrooms %}Total de dormitorios {{data.bathrooms}}{% else %}Sin responder{% endif %}</p>
                                <h6>¿Tiene gas?</h6>
                                <p>{% if data.gas %}{{data.gas|lower|capfirst}} tiene conexión de gas {% else %}Sin responder{% endif %}</p>
                                <h6>¿Tiene conexión cloacal?</h6>
                                <p>{% if data.cloaca %}{{data.cloaca|lower|capfirst}} tiene conexión cloacal{% else %}Sin responder{% endif %}</p>
                                <h6>¿Tiene agua corriente?</h6>
                                <p>{% if data.agua_corriente %}{{data.agua_corriente|lower|capfirst}} tiene agua corriente{% else %}Sin responder{% endif %}</p>
                                <h6>¿El baño esta en el interior o en el exterior?</h6>
                                <p>{% if data.bath_sit %}{{data.bath_sit|lower|capfirst}}{% else %}Sin responder{% endif %}</p>
                                <h6>¿Qué documento respalda su vivienda?</h6>
                                <p>{% if data.titulo_vivienda %}{{data.titulo_vivienda|lower|capfirst}}{% else %}Sin responder{% endif %}</p>

                            </div>
                            
                            <hr>
     
                        </div>
                    </div>
                    <div class="tab-pane" id="documentos" role="tabpanel">
                        <div class="card-body">
                            <h4>Documentos</h4>

                            <div class="sl-item">
                                <div class="sl-left"> <i class="fa fa-address-card-o"></i> {% if data.dni %}<a href="{{data.dni.url}}" target="_blank">Documento nacional de identidad</a>{% else %}Documento nacional de identidad{% endif %} {% if data.dni %}<a href="#" data-toggle="modal" data-target="#ModificarDNI"><i class="fa fa-check"></i></a>{% else %}<a href="#" data-toggle="modal" data-target="#ModificarDNI"><i class="fa fa-exclamation"></i></a>{% endif %}</div>
                            </div>
                            <div class="sl-item" style="margin-top: 10px;">
                                <div class="sl-left"> <i class="fa fa-file-o"></i> {% if data.servicio %}<a href="{{data.servicio.url}}" target="_blank">Boleta de servicio</a>{% else %}Boleta de servicio{% endif %} {% if data.servicio %}<a href="#" data-toggle="modal" data-target="#ModificarSERVICIO"><i class="fa fa-check"></i></a></i>{% else %}<a href="#" data-toggle="modal" data-target="#ModificarSERVICIO"><i class="fa fa-exclamation"></i></a>{% endif %}</div>
                            </div>

                            <div class="sl-item" style="margin-top: 10px;">
                                <div class="sl-left"> <i class="fa fa-university"></i> {% if data.informe_crediticio %}<a href="{{data.informe_crediticio.url}}" target="_blank">Informe crediticio</a>{% else %}Informe crediticio{% endif %} {% if data.informe_crediticio %}<a href="#" data-toggle="modal" data-target="#ModificarIC"><i class="fa fa-check"></i></a></i>{% else %}<a href="#" data-toggle="modal" data-target="#ModificarIC"><i class="fa fa-exclamation"></i></a>{% endif %}</div>
                            </div>

                        </div>

                        <!-- Aqui empiezo la parte de los modales para cambiar los documentos -->

                        <!-- Modal  -->
                        <div class="modal fade" id="ModificarDNI" tabindex="-1" role="dialog" aria-labelledby="ModificarDNI"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Documento nacional</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <p class="my-2">Cargar un archivo</p>
                                        <div class="mb-3">
                                            <input type="file" class="form-control form-control" name="dni"
                                                required>
                                        </div>

                                        <div>
                                            <button class="btn btn-primary" type="submit" name="dni" value="1"
                                                style="margin-top: 10px;">Actualizar</button>

                                        </div>
                                        {{ form.as_p }}
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>

                        </div>
                        <div class="modal fade" id="ModificarSERVICIO" tabindex="-1" role="dialog" aria-labelledby="ModificarSERVICIO"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Boleta de servicio</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">

                                        {% csrf_token %}

                                        <p class="my-2">Cargar un archivo</p>
                                        <div class="mb-3">
                                            <input type="file" class="form-control form-control" name="servicio"
                                                required>
                                        </div>

                                        <div>
                                            <button class="btn btn-primary" type="submit" ame="servicios" value="1"
                                                style="margin-top: 10px;">Actualizar</button>

                                        </div>
                                        {{ form.as_p }}
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>

                        </div>
                        <div class="modal fade" id="ModificarIC" tabindex="-1" role="dialog" aria-labelledby="ModificarIC"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Informe crediticio</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">

                                        {% csrf_token %}

                                        <p class="my-2">Cargar un archivo</p>
                                        <div class="mb-3">
                                            <input type="file" class="form-control form-control" name="informe_crediticio"
                                                required>
                                        </div>

                                        <div>
                                            <button class="btn btn-primary" type="submit" name="informe_crediticio" value="1"
                                                style="margin-top: 10px;">Actualizar</button>

                                        </div>
                                        {{ form.as_p }}
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>

                        </div>
                        

                    </div>

                    <div class="modal fade" id="EditarComentarios" tabindex="-1" role="dialog" aria-labelledby="EditarComentarios"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Comentarios</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">

                                        {% csrf_token %}

                                        <p class="my-2">Comentarios</p>
                                        <div class="mb-3">
                                            <textarea class="form-control form-control" name="otros_datos" >{{data.otros_datos}}</textarea>
            
                                        </div>

                                        <div>
                                            <button class="btn btn-primary" type="submit" 
                                                style="margin-top: 10px;">Actualizar</button>

                                        </div>
                                        {{ form.as_p }}
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>

                        </div>

                    <div class="modal fade" id="EditarLegajo" tabindex="-1" role="dialog" aria-labelledby="EditarLegajo"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                    style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Legajo personal</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label class="col-md-12">Nombre</label>
                                            <div class="col-md-12">
                                                <input type="text" name="nombre" value="{{data.nombre}}" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Apellido</label>
                                            <div class="col-md-12">
                                                <input type="text" name="apellido" value="{{data.apellido}}" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-email" class="col-md-12">Cuil</label>
                                            <div class="col-md-12">
                                                <input type="number" value="{{data.cuil}}" class="form-control form-control-line" name="cuil">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-email" class="col-md-12">Score</label>
                                            <div class="col-md-12">
                                                <input type="number" value="{{data.score}}" class="form-control form-control-line" name="score">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-email" class="col-md-12">Email</label>
                                            <div class="col-md-12">
                                                <input type="text" value="{{data.email}}" class="form-control form-control-line" name="email">
                                            </div>
                                        </div>
        
                                        <div class="form-group">
                                            <label for="example-email" class="col-md-12">Dirección</label>
                                            <div class="col-md-12">
                                                <input type="text" value="{{data.direccion}}" class="form-control form-control-line" name="direccion">
                                            </div>
                                        </div>
        
                                        <div class="form-group">
                                            <label class="col-md-12">Numero de celular</label>
                                            <div class="col-md-12">
                                                <input type="text" name="telefono" value="{{data.telefono}}" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Empleador</label>
                                            <div class="col-md-12">
                                                <input type="text" name="empleador" value="{{data.empleador}}" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">Empresa</label>
                                            <div class="col-sm-12">
                                                <select name="empresa" class="form-control form-control-line">
                                                    {% for i in empresas %}
                                                    <option {% if data.empresa == i%} selected {% endif %}>{{i.nombre}}</option>
                                                    {% endfor %}
        
                                                </select>
                                            </div>
                                        </div>

                                        <div>
                                            <button class="btn btn-primary" type="submit" 
                                                style="margin-top: 10px;">Actualizar</button>

                                        </div>
                                        {{ form.as_p }}
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>

                        </div>
                </div>
            </div>
        </div>

    {% endblock %}