{% extends "home.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Pagos por empresas</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'Panel de empresas' %}">Empresas</a></li>
            <li class="breadcrumb-item">Pagos</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick m-r-20"></span>{{empresa}} - Pagos a vencer</h4>

                        <div class="btn-group ml-auto">
                            <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Agregarempresa"><i
                                    class="fa fa-clock-o mr-2"></i>Fechas</a>
                                    
                            </div>
                        </div>

                    </div>

                    <div class="modal fade" id="Agregarempresa" tabindex="-1" role="dialog" aria-labelledby="Agregarempresa"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Fechas para buscar</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data">

                                        {% csrf_token %}

                                        <p class="my-2">Desde</p>
                                        <div class="mb-3">
                                            <input type="date" name="fecha_desde" class="form-control form-control-line">
            
                                        </div>

                                        <p class="my-2">Hasta</p>
                                        <div class="mb-3">
                                            <input type="date" name="fecha_hasta" class="form-control form-control-line">
            
                                        </div>

                                        <div>
                                            <button class="btn btn-primary" type="submit" 
                                                style="margin-top: 10px;">Buscar</button>

                                        </div>
                                        {{ form.as_p }}
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                </div>
                            </div>
                        </div>

                        </div>
                    <h6 class="card-subtitle">El periodo de vencimiento es de {{fecha_1}} a {{fecha_2}}</h6>

                    <div class="table-responsive">
                        <form method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        <table id="example" class="table" style="width:100%">

                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Prestamo</th>
                                    <th>Fecha</th>
                                    <th>Cuota</th>
                                    <th style="max-width: 5px;"></th>


                                </tr>
                            </thead>

                            

                            <tbody style="font-size: 14px;">

                                {% for i in data %}
                                <tr>
                                    <td>{{i.id}}</td>
                                    <td><a href="{% url 'Administrar credito' i.prestamo.id %}">{{i.prestamo.cliente.apellido}}, {{i.prestamo.cliente.nombre}} - CUIL:{{i.prestamo.cliente.cuil}}</a></td>
                                    <td>{{i.fecha|date:"d/m/Y"}}</td>
                                    <td>${{i.monto|floatformat:2|intcomma}}</td>
                                    
                                    <td>

                                        <input type="checkbox" name="cuota{{i.id}}" value="{{i.id}}" id="cuota{{i.id}}" class="filled-in chk-col-blue" checked />
                                        <label for="cuota{{i.id}}"></label>
                                    </td>

                                    <div class="modal fade" id="Editar{{i.0.id}}" tabindex="-1" role="dialog" aria-labelledby="Editar{{i.0.id}}"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header"
                                                style="background-color: #2a3e52;">
                                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Editar nombre</h5>
                                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" enctype="multipart/form-data">

                                                        {% csrf_token %}

                                                        <p class="my-2">Nombre</p>
                                                        <div class="mb-3">
                                                            <input type="text" name="nombre" value="{{i.0.nombre}}" class="form-control form-control-line">
                            
                                                        </div>

                                                        <div>
                                                            <button class="btn btn-primary" type="submit" value="{{i.0.id}}" name="id"
                                                                style="margin-top: 10px;">Editar</button>

                                                        </div>
                                                        {{ form.as_p }}
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                                </div>
                                            </div>
                                        </div>

                                        </div>

                                </tr>

                                        <div class="modal fade" id="ModalBorrar{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalBorrar{{i.id}}"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header"
                                                            style="background: rgb(195, 39, 181);
                                                        background: linear-gradient(315deg, rgba(195, 39, 181,1) 0%, rgba(56,56,130,1) 22%, rgba(195, 39, 181,1) 100%);">
                                                            <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar el perfil</h5>
                                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="POST" enctype="multipart/form-data">

                                                                {% csrf_token %}
                                                                <div style="text-align: left;">
                                                                    <h3>Advertencia</h3>

                                                                    <h6>Esta acción no se puede deshacer, toda la información asociada al cliente sera eliminada. Recomendamos analizar esta acción</h6>

                                

                                                                    <div>
                                                                        <button class="btn btn-danger" type="submit" name="borrar" value="{{i.id}}"
                                                                            style="margin-top: 10px;">Continuar</button>

                                                                    </div>
                                                                </div>

                                                                
                                                                {{ form.as_p }}
                                                            </form>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                {% endfor %}
                            </tbody>

                        </table>

                    <button id="add" type="submit"
                    data-toggle="tooltip" data-placement="left" title="Cargar los pagos seleccionados"
                     class="btn btn-success btn-circle fa fa-paper-plane-o"></button>

                    </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #add{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }

    tbody{
        font-weight: 400;
    }


</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('#example').DataTable({

            "info": false,
            "paging": false,
            "ordering": false,
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'Cuotas a vencer',
                className: "btn btn-primary",

                init: function(api, node, config) {
                    $(node).removeClass('dt-button buttons-excel buttons-html5')
                    }
            },
            ]   
        });
    });
</script>


{% endblock %}