{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/logosinergia.ico' %}" />
    <title>Sinergia</title>
    <link href="{% static 'adminpro/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/main/css/pages/login-register-lock.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/main/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/main/css/colors/default-dark.css' %}" id="theme" rel="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Mapafer</p>
        </div>
    </div>
    <section id="wrapper" class="login-register" style="background-image:url({% static 'adminpro/assets/images/background/tree2.jpg' %}); background-size: cover; height: 100vh; ">
        <div class="login-box card" style="background-color: rgba(32, 16, 60, 0.8);">
            <div class="card-body">
                <a href="#" class="text-center db"><img src="{% static 'img/trabajo-en-equipo.png' %}" alt="log" style="width: 100px;"/><br/></a>
                <hr></hr>  
                <h3 class="box-title m-b-20 text-center text-light">Bienvenido</h3>
 


                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <a href="{% url 'Home' %}" class="btn btn-block btn-lg btn-primary btn-rounded">Ingresar</a>
                        </div>
                    </div>

            </div>
        </div>

    </section>
    <script src="{% static 'adminpro/assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
    
</body>
</html>