{% extends "home.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Editar un pago</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel de pagos' %}">Pagos</a></li>
                <li class="breadcrumb-item">Editar</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <h4 class="card-title">Editar el registro seleccionadoo</h4>
                    <h6 class="card-subtitle">Modifique el formulario</h6>
                    

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col bg-light border rounded p-4 ">

                                    {% if mensaje %}
                                    <h6 class="text-danger">{{mensaje}}</h6>
                                    {% endif %}

                                    <form method="POST">

                                        {% csrf_token %}

                                        <div class="campoctacte">

                                            <div class="campo">

                                                <div class="form-group">
                                                    <label class="col-sm-12">Prestamo</label>
                                                    <div class="col-sm-12">

                                                        <input name="prestamo" type="search" list="prestamos" value="{{pago.prestamo.id}}-{{pago.prestamo.cliente.nombre}}, {{pago.prestamo.cliente.apellido}} - ${{pago.prestamo.monto|floatformat:2|intcomma}}"
                                                                class="form-control form-control" aria-label="Amount"
                                                                >

                                                    </div>
                                                </div>

                                                <datalist id="prestamos">
                                                    {% for prestamo in prestamos %}
                                                    <option value="{{prestamo.id}}-{{prestamo.cliente.nombre}}, {{prestamo.cliente.apellido}} - ${{prestamo.monto|floatformat:2|intcomma}}"></option>
                                                    {% endfor %}
                                                  </datalist>

                                                <div class="form-group">
                                                    <label class="col-sm-12">Monto</label>
                                                    <div class="col-sm-12">
                                                        <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            
                                                                <span class="input-group-text">$</span>

                                                                </div>
                                                                <input name="monto" required type="number" value="{{pago.monto}}"
                                                                        class="form-control form-control" aria-label="Amount">


                                                            </div>

                                                            
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12">Fecha</label>
                                                    <div class="col-sm-12">
                                                        <input name="fecha" value="{{pago.fecha|date:'Y-m-d'}}" type="date" 
                                                                class="form-control form-control" aria-label="Amount"
                                                                >
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row d-flex justify-content-center mt-4">
                                                <div class="col-lg-6 text-center">

                                                    <button type="submit" class="btn btn-primary">Editar pago</button>

                                                </div>
                                            </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}