{% extends "home.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Panel de pagos</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item">Pagos</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <h4 class="card-title">Pagos de creditos registrados</h4>
                    <h6 class="card-subtitle">Información historica</h6>

                    <div>
                        <a href= "{% url 'Agregar pagos' 0 %}" class="btn btn-primary" ><i
                            class="fa fa-plus"><span class="ml-2"
                                style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Añadir</span></i></a>
                    </div>

                    <div class="table-responsive">

                        <table id="example" class="table" style="width:100%">

                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Prestamo</th>
                                    <th>Empresa</th>
                                    <th>Regimen</th>
                                    <th>Monto</th>
                                    <th></th>


                                </tr>
                            </thead>

                            <tbody style="font-size: 12px;">

                                {% for i in pagos %}
                                <tr>
                                    <td>{{i.fecha|date:"Y/m/d"}}</td>
                                    <td>{{i.prestamo.cliente.apellido}}, {{i.prestamo.cliente.nombre}}</td>
                                    <td>{{i.prestamo.cliente.empresa}}</td>
                                    <td>{{i.prestamo.regimen|lower|capfirst}}</td>
                                    <td>${{i.monto|floatformat:0|intcomma}}</td>
                                    <td><div class="btn-group ml-auto">
                                        <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                class="fa fa-pencil"></i> Editar</a>
                                            <a class="dropdown-item text-danger" href="#" data-toggle="modal"
                                                data-target="#ModalBorrar{{i.id}}"><i
                                                    class="fa fa-trash-o mr-2"></i> Borrar</a>
                                        </div>
                                    </div></td>



                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('#example').DataTable({

            "info": false,
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'BBDD clientes'
            },
            ]   
        });
    });
</script>


{% endblock %}