{% extends "home.html" %}

{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid">
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Perfil</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'BBDD clientes' %}">BBDD</a></li>
            <li class="breadcrumb-item active">Perfil</li>
        </ol>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="m-t-30"> <img src="{% if credito.cliente.imagen %}{{credito.cliente.imagen.url}}{% else %}{% static 'img/anonimo2.png' %}{% endif %}" class="img-circle" width="150" />
                        <h4 class="card-title m-t-10">{{data.nombre}},  {{data.apellido}}</h4>
                        <div class="row text-center justify-content-md-center">
                            <div class="col-4"><a href="javascript:void(0)" class="link"><font class="font-medium">Score: {{data.score}}</font></a></div>
                            <div class="col-4"><a href="javascript:void(0)" class="link"></i> <font class="font-medium">Estado: {{data.estado}}</font></a></div>
                        </div>
                    </center>
                </div>
                <div>
                    <hr> </div>
                <div class="card-body"> <small class="text-muted">Cliente</small>
                    <h6>{{credito.cliente.nombre}}, {{credito.cliente.apellido}}</h6> 
                    <small class="text-muted p-t-30 db">Email</small>
                    <h6>{{credito.cliente.email}}</h6> 

                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#ddatos" role="tab">Datos</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#editar" role="tab">Editar</a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="ddatos" role="tabpanel">
                        <div class="card-body">
                            <div class="card-body">
                                <h6>Proveedor del credito</h6> 
                                <p>{{credito.proveedor.razon_social}}</p>
                                <h6>Fecha del credito</h6> 
                                <p>{{credito.fecha|date:"d/m/Y"}}</p>
                                <h6>Información del interes y plan de pago</h6> 
                                <p>Monto: $ {{credito.monto|floatformat:2|intcomma}} - Regimen: {{credito.regimen}} - Cuotas: {{credito.cuotas}}</p>
                                <h6>Información original</h6> 
                                <p>El monto solicitado: ${{credito.valor_original|floatformat:2|intcomma}}  <a href="{{credito.adjunto.url}}"><i class="fa fa-file-o"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <!--second tab-->
                    <div class="tab-pane" id="perfil" role="tabpanel">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Empresa</strong>
                                    <br>
                                    <p class="text-muted">{{data.empresa}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Empleador</strong>
                                    <br>
                                    <p class="text-muted">{{data.empleador}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r"> <strong>CUIL</strong>
                                    <br>
                                    <p class="text-muted">{{data.cuil}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6"> <strong>Dirección</strong>
                                    <br>
                                    <p class="text-muted">{{data.direccion}}</p>
                                </div>
                            </div>
                            <hr>
                            <p class="m-t-30">{{data.otros_datos}}</p>
                            <div>
                                {% if data.dni %}<a href="{{data.dni.url}}"><i class="fa fa-user"> DNI </i></a>{% endif %}
                                {% if data.servicio %}<a href="{{data.servicio.url}}"><i class="fa fa-file"> Servicio</i></a>{% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="editar" role="tabpanel">
                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data">

                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-md-12">Nombre</label>
                                    <div class="col-md-12">
                                        <input type="text" name="nombre" value="{{data.nombre}}" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Apellido</label>
                                    <div class="col-md-12">
                                        <input type="text" name="apellido" value="{{data.apellido}}" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Cuil</label>
                                    <div class="col-md-12">
                                        <input type="number" value="{{data.cuil}}" class="form-control form-control-line" name="cuil">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Score</label>
                                    <div class="col-md-12">
                                        <input type="number" value="{{data.score}}" class="form-control form-control-line" name="score">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{data.email}}" class="form-control form-control-line" name="email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Dirección</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{data.direccion}}" class="form-control form-control-line" name="direccion">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Numero de celular</label>
                                    <div class="col-md-12">
                                        <input type="text" name="telefono" value="{{data.telefono}}" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Empleador</label>
                                    <div class="col-md-12">
                                        <input type="text" name="empleador" value="{{data.empleador}}" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Empresa</label>
                                    <div class="col-sm-12">
                                        <select name="empresa" class="form-control form-control-line">
                                            {% for i in empresas %}
                                            <option {% if data.empresa == i%} selected {% endif %}>{{i.nombre}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <label for="imagen">
                                        <h6>DNI</h6>
                                    </label>
                                </div>
                                <div class="row d-flex justify-content-center mt-3 mb-4">
                                    <div class="col col-md-12 col-lg-8">
                                        <input name="dni" class="form-control" type="file" id="formFile">


                                    </div>
                                </div>
                                <div>
                                    <label for="imagen">
                                        <h6>Servicio</h6>
                                    </label>
                                </div>
                                <div class="row d-flex justify-content-center mt-3 mb-4">
                                    <div class="col col-md-12 col-lg-8">
                                        <input name="servicio" class="form-control" type="file" id="formFile">


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Otros datos</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" name="otros_datos" class="form-control form-control-line">{{data.otros_datos}}</textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Cargar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>

    {% endblock %}