{% extends "home.html" %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Calculadora</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item">Nuevo credito</li>
                <li class="breadcrumb-item">Calculadora</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Calculos para nuevo credito</h4>

                    </div>
                    <h6 class="card-subtitle">Complete los datos para realizar el calculo, luego se generara un formulario para cargar el credito</h6>
                    <div class="row d-flex justify-content-center mt-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="mt-2"  for="">Tasa de interes</label>
                                            <input name="nombre" type="number" class="form-control form-control"
                                                step="any" value="1.2">
                                        </div>

                                        <div class="col-6">
                                            <label class="mt-2" for="">Monto inicial</label>
                                            <input name="nombre" type="number" class="form-control form-control"
                                                step="any" value="100000">
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <label class="mt-2" for="">Cuotas</label>
                                            <input name="nombre" type="number" class="form-control form-control"
                                            step="any" value="24">
                                        </div>

                                        <div class="col-6">
                                            <label class="mt-2" for="">Regimen</label>
                                            <input name="nombre" type="text" class="form-control form-control"
                                                            placeholder="Nombre del cliente">
                                        </div>
                                        
                                    </div>
                                    <div class="row mt-4 d-flex justify-content-center">
                                        <button class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<datalist id="clientes">

    {% for i in clientes %}

    <option value="{{i.id}}-{{i.nombre}}, {{i.apellido}}, CUIL: {{i.cuil}}" ></option>

    {% endfor %}

</datalist>

<datalist id="proveedores">

    {% for i in proveedores %}

    <option value="{{i.id}}-{{i.fantasia}}"></option>

    {% endfor %}

</datalist>




{% endblock %}