{% extends "home.html" %}

{% load static %}
{% load humanize %}
{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Cartera activa</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item">Cartera</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <h4 class="card-title">Avance de los creditos</h4>
                    <h6 class="card-subtitle">Información sobre el estado de los creditos otorgados</h6>

                    <div class="table-responsive">

                        <table id="example" class="table" style="width:100%">

                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Cliente</th>
                                    <th>Regimen</th>
                                    <th>Monto</th>
                                    <th>N°c</th>
                                    <th>Mora</th>
                                    <th>Pagado</th>
                                    <th>Saldo</th>
                                    <th>Fecha</th>
                                    <th>Prox. Ven*</th>
                                    <th></th>


                                </tr>
                            </thead>

                            <tbody style="font-size: 12px;">

                                {% for i in data %}
                                <tr>
                                    <td>{{i.0.id}}</td>
                                    <td>{{i.0.cliente.apellido}}, {{i.0.cliente.nombre}}</td>
                                    <td>{{i.0.regimen|lower|capfirst}}</td>
                                    <td>$ {{i.0.monto|floatformat:0|intcomma}}</td>
                                    <td>{{i.0.cuotas}}</td>
                                    <td class="text-danger"><b>$ {{i.4|floatformat:0|intcomma}}</b></td>
                                    <td>$ {{i.1|floatformat:0|intcomma}}</td>
                                    <td>$ {{i.2|floatformat:0|intcomma}}</td>
                                    <td>{{i.0.primera_cuota|date:"d/m/Y"}}</td>
                                    <td>{{i.3|date:"d/m/Y"}}</td>
                                    <td><div class="btn-group ml-auto">
                                        <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{% url 'Administrar credito' i.0.id %}"><i
                                                    class="fa fa-university mr-2"></i> Información</a>
                                            <a class="dropdown-item" href="#"><i
                                                class="fa fa-money mr-2"></i> Agregar pago</a>
                                            <a class="dropdown-item text-danger" href="#" data-toggle="modal"
                                                data-target="#ModalBorrar{{i.id}}"><i
                                                    class="fa fa-trash-o mr-2"></i> Borrar</a>
                                        </div>
                                    </div></td>



                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": false,
            "info": false,
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'BBDD clientes'
            },
            ]   
        });
    });
</script>


{% endblock %}