{% extends "home.html" %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Agregar credito</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'Principal Prestamos' %}">Cartera activa</a></li>
            <li class="breadcrumb-item">Agregar</li>
        </ol>
    </div>
</div>

{% if estado_del_calculo %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Generar un nuevo credito</h4>
                        
                    </div>
                    <h6 class="card-subtitle">Complete el formulario</h6>
                    

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col bg-light border rounded p-4 ">

                                    <form method="POST" enctype="multipart/form-data">

                                        {% csrf_token %}

                                        <div class="campoctacte">

                                            <div class="campo">

                                                <div class="row d-flex">

                                                    <div class="col-lg-6">

                                                        <div class="form-group">
                                                            <label class="col-sm-12">Monto base</label>
                                                            <div class="col-sm-12">
                                                                <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    
                                                                        <span class="input-group-text">$</span>
        
                                                                        </div>
                                                                        <input name="precio1" required type="number" step="any" value="{{monto_base}}"
                                                                                class="form-control form-control" aria-label="Amount">
                                                                    </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-12">Monto con intereses</label>
                                                            <div class="col-sm-12">
                                                                <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    
                                                                        <span class="input-group-text">$</span>
        
                                                                        </div>
                                                                        <input name="precio2" required type="number" step="any" value="{{monto}}"
                                                                                class="form-control form-control" aria-label="Amount">
                                                                    </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>

                                                <div class="row d-flex">

                                                    <div class="col-lg-6">

                                                        <div class="form-group">
                                                            <label class="col-sm-12">Monto de la cuota</label>
                                                            <div class="col-sm-12">
                                                                <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    
                                                                        <span class="input-group-text">$</span>
        
                                                                        </div>
                                                                        <input name="monto_cuota" required type="number" step="any" value="{{monto_cuota}}"
                                                                                class="form-control form-control" aria-label="Amount">
                                                                    </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-12">Cantidad de cuotas</label>
                
                                                            <div class="col-sm-12">
                                                                <input name="cuotas" type="number" value="{{cuota}}"
                                                                        class="form-control form-control" aria-label="Amount"
                                                                        >
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>

                                                <div class="row d-flex">

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-12">Proveedor</label>
                
                                                            <div class="col-sm-12">
                                                                <input name="proveedor" type="search" list="proveedores" required
                                                                        class="form-control form-control" aria-label="Amount"
                                                                        >
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-6">

                                                        <div class="form-group">
                                                            <label class="col-sm-12">Cliente que recibe</label>
          
                                                            <div class="col-sm-12">
                                                                <input name="cliente" type="search" list="clientes" required
                                                                        class="form-control form-control" aria-label="Amount"
                                                                        >
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="row d-flex">

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-12">Fecha del credito</label>
                
                                                            <div class="col-sm-12">
                                                                <input name="fecha" type="date" required
                                                                        class="form-control form-control" aria-label="Amount"
                                                                        >
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-12">Primera cuota</label>
                
                                                            <div class="col-sm-12">
                                                                <input name="priimeracuota" type="date" required
                                                                        class="form-control form-control" aria-label="Amount"
                                                                        >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row d-flex">

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-12">Presupuesto del cliente</label>
                                                            <div class="col-sm-12">
                                                                <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    
                                                                        <span class="input-group-text">$</span>
        
                                                                        </div>
                                                                        <input name="precio3" required type="number" step="any"
                                                                                class="form-control form-control" aria-label="Amount">
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-12">Adjunto</label>
                
                                                            <div class="col-sm-12">
                                                                <input name="adjunto" type="file" 
                                                                        class="form-control"  aria-label="Amount"
                                                                        >
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row d-flex">

                                                    <div class="col-lg-12 text-center">
                                                        <div class="form-group">
                                                            <label class="col-sm-12">Regimen del credito</label>
                
                                                            <div class="col col-md-12 col-lg-12">
                                                                
                                                                <input type="radio" name="regimen" value="MENSUAL"  id="regimen" class="filled-in chk-col-blue" {% if regimen == "MENSUAL" %}checked {% endif %}/>
                                                                <label for="regimen">MENSUAL</label>
                                                                
                                                                <input type="radio" name="regimen" value="QUINCENAL"  id="regimen2" class="filled-in chk-col-blue" {% if regimen == "QUINCENAL" %}checked {% endif %}/>
                                                                <label for="regimen2">QUINCENAL</label> 
                
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

 
                                            <div class="row d-flex justify-content-center mt-4">
                                                <div class="col-lg-6 text-center">

                                                    <button type="submit" class="btn btn-primary">Cargar</button>

                                                </div>
                                            </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Calculos para nuevo credito</h4>

                    </div>
                    <h6 class="card-subtitle">Complete los datos para realizar el calculo, luego se generara un formulario para cargar el credito</h6>
                    <div class="row d-flex justify-content-center mt-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="mt-2"  for="">Tasa de interes (%)</label>
                                            <input name="tasa" type="number" class="form-control form-control"
                                                step="any" value="120">
                                        </div>

                                        <div class="col-6">
                                            <label class="mt-2" for="">Monto inicial</label>
                                            <input name="monto" type="number" class="form-control form-control"
                                                step="any" value="100000">
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <label class="mt-2" for="">Cuotas</label>
                                            <input name="cuotas" type="number" class="form-control form-control"
                                            step="any" value="24">
                                        </div>

                                        <div class="col-6">
                                            <label class="mt-2" for="">Regimen</label>
                                            <select name="regimen" class="form-control form-control">
                                                <option value="MENSUAL">MENSUAL</option>
                                                <option value="QUINCENAL">QUINCENAL</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="row mt-4 d-flex justify-content-center">
                                        <button class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

<datalist id="clientes">

    {% for i in clientes %}

    <option value="{{i.id}}-{{i.nombre}}, {{i.apellido}}, CUIL: {{i.cuil}}" ></option>

    {% endfor %}

</datalist>

<datalist id="proveedores">

    {% for i in proveedores %}

    <option value="{{i.id}}-{{i.fantasia}}"></option>

    {% endfor %}

</datalist>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if mensaje %}
<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        icon: '{% if mensaje.0 == 1 %}success{% else %}warning{% endif %}',
        title: '{{mensaje.1}}'
    })

</script>
{% endif %}
{% endblock %}