{% extends "home.html" %}
{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Cartera activa</h3>
    </div>

    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'Principal Prestamos' %}">Cartera activa</a></li>
            <li class="breadcrumb-item">Agregar</li>
        </ol>
    </div>
</div>


<div class="row" id = "contenedor_prestamo">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick m-r-20"></span><b>Refinanciar credito existente</b></h4>
                        
                    </div>
                    <h6 class="card-subtitle">Este proceso cerrada un credito actual, creando uno nuevo</h6>

                    <div class="row col-12" style="font-weight: 450; display: flex;" >

                        <div class="col-6">

                            <label class="mt-2"  for="">Prestamo a recalcular:</label>
                            <select id="credito" class="form-control form-control" onchange="service_datos_refinanciar()">
                                <option value="0" style="display: none;">Elija un credito</option>
                                {% for credito in creditos %}
                                {% if credito.saldo_credito > 0 %}
                                <option value="{{credito.id}}">{{credito.cliente.apellido}}, {{credito.cliente.nombre}}: Monto: ${{credito.monto|floatformat:2|intcomma}} / Pagado: ${{credito.pagado_credito|floatformat:2|intcomma}} / Saldo:  ${{credito.saldo_credito|floatformat:2|intcomma}}  </option>
                                {% endif %}
                                {% endfor %}
                            </select>

                            <label class="mt-2" for="">Tasa deuda</label>
                            <select id="tasa_deuda" class="form-control form-control"  onchange="service_datos_refinanciar()">
                                {% for tasa in tasas %}
                                <option value="{{tasa.id}}">{{tasa.nombre}} ({{tasa.valor_tasa}}%) </option>
                                {% endfor %}
                            </select>
                            <label class="mt-2" for="">Tasa del saldo</label>
                            <select id="tasa_saldo" class="form-control form-control"  onchange="service_datos_refinanciar()">
                                {% for tasa in tasas %}
                                <option value="{{tasa.id}}">{{tasa.nombre}} ({{tasa.valor_tasa}}%)</option>
                                {% endfor %}
                            </select>

                            <label class="mt-2"  for="">Tasa de interes anual (%)</label>
                            <select id="tasa" class="form-control form-control" onchange="service_datos_refinanciar()">
                                {% for tasa in tasas %}
                                <option value="{{tasa.valor_tasa}}">{{tasa.nombre}} ({{tasa.valor_tasa}}%)</option>
                                {% endfor %}
                            </select>
                            <label class="mt-2" for="">Monto inicial</label>
                            <input  id="monto_inicial" type="number" class="form-control form-control"
                                step="any" value="0" onblur="service_datos_refinanciar()">
                            <label class="mt-2" for="">Cuotas</label>
                            <input  id="cuotas" type="number" class="form-control form-control"
                                step="any" value="24" onblur="service_datos_refinanciar()">
                            <label class="mt-2" for="">Regimen</label>
                            <select id="regimen" class="form-control form-control" onchange="service_datos_refinanciar()">
                                <option value="MENSUAL">MENSUAL</option>
                                <option value="QUINCENAL">QUINCENAL</option>
                            </select>
                            <label class="mt-2" for="">Peridos de gracia</label>
                            <input  id="periodo_gracia" type="number" class="form-control form-control"
                                step="any" value="0" onblur="service_datos_refinanciar()">
                            <label class="mt-2">Proveedor</label>
                            <input id="proveedor" type="search" list="proveedores" 
                                     class="form-control form-control" aria-label="Amount">
                            <label class="mt-2">Fecha del credito</label>
                            <input id="fecha" type="date" class="form-control form-control" aria-label="Amount" >
                            <label class="mt-2">Primera cuota</label>
                            <input id="primera_cuota" type="date" class="form-control form-control" aria-label="Amount" onchange="service_datos_refinanciar()">
                            <label class="mt-2">Presupuesto del cliente</label>
                            <input id="presupuesto_cliente" type="number" step="any" class="form-control form-control" aria-label="Amount" placeholder="El precio que consiguio por su cuenta">


                        </div>
                        <div class="col-6">
                            <label class="mt-2" for="">Monto del credito original</label>
                            <h6 id="monto_original"></h6>
    
                            <label class="mt-2" for="">Valor de la deuda y cuanto es con interes</label>
                            <h6 id="deuda_original"></h6>
    
                            <label class="mt-2" for="">Valor del saldo y cuanto es con bonoficación</label>
                            <h6 id="saldo_original"></h6>
    
                            <label class="mt-2" for="">Monto con interes</label>
                            <h6 id="monto_con_interes"></h6>
    
                            <label class="mt-2" for="">Valor de la cuota</label>
                            <h6 id="valor_cuota"></h6>
    
                            <label class="mt-2" for="">Desglose de las cuotas</label>
                            <div id="contenedor_simulacion"></div>
    
                        </div>
                    
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id = "contenedor_success" style="display: none;">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick m-r-20"></span><b>Refinanciar credito existente</b></h4>
                        
                    </div>
                    <h6 class="card-subtitle">El proceso se ha completado</h6>

                    <div class="row col-12" style="font-weight: 450; display: flex;" >

                        

                        <div class="col-6">

                            <img src="{% static 'img/success.gif' %}" class="img-circle" width="250" />
                        </div>
                        <div class="col-6">
                            <p>El proceso se ha completado exitosamente, puedes ingresar a la cartera activa ingresando <a href="{% url 'Principal Prestamos' %}" class="text-primary font-bolt">aqui</a> y ver el nuevo credito</p>

                            <p>Repaso un poco lo que implico el refinanciamiento</p>

                            <ul>
                                <li>El credito anterior se cancelo por completo</li>
                                <li>Se creo un nuevo credito al <b>mismo</b> cliente</li>
                                <li>Pudiste cambiar libremente al proveedor, pero si hay deuda con el proveedor anterior se mantendra</li>
                            </ul>
    
                        </div>
                    
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="middle" id="loader_mapafer" style="display: none;">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
    <div class="bar bar4"></div>
    <div class="bar bar5"></div>
    <div class="bar bar6"></div>
    <div class="bar bar7"></div>
    <div class="bar bar8"></div>
  </div>

<input id="token" type="text" value="{{ csrf_token }}" style="display: none;"></input>
<input id="host" type="text" value="{% host %}" style="display: none;"></input>


<a id="add2" href="#" onclick="service_crear_prestamo_refinanciado()" class="btn btn-success btn-circle">
    <i data-toggle="tooltip" data-placement="left" title="Calcular" class="fa fa-paper-plane"></i></a>

<a id="add" href="{% url 'Calculadora' %}" class="btn btn-primary btn-circle">
    <i data-toggle="tooltip" data-placement="left" title="Volver a la calculadora" class="fa fa-arrow-left"></i></a>


<datalist id="proveedores">
    {% for i in proveedores %}
    <option value="{{i.id}}-{{i.fantasia}}"></option>
    {% endfor %}
</datalist>

<style>
    body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
  }
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: ;
    }
    50% {
      transform: scaleY(1);
      background: #9645C4;
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }
  </style>

<style>
    #add{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }

    #add2{
        position: fixed;
        bottom: 90px;
        right: 20px;
    }

    #add3{
        position: fixed;
        bottom: 140px;
        right: 20px;
    }
</style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/f_alert.js' %}"></script>
<script src="{% static 'js/f_tasas.js' %}"></script>
<script src="{% static 'js/f_prestamo.js' %}"></script>

{% if mensaje %}
<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        icon: '{% if mensaje.0 == 1 %}success{% else %}warning{% endif %}',
        title: '{{mensaje.1}}'
    })

</script>
{% endif %}
{% endblock %}